
config aria2 'main'
	option enabled '0'
	option user 'root'
	option config_dir '/mnt/sda1/.Programs/aria2'
	option download_dir '/mnt/sda1/Downloads'
	option restore_task '1'
	option queue_size '2'
	option split '5'
	option thread '1'
	option disable_ipv6 '0'
	option enable_lpd '1'
	option enable_dht '1'
	option listen_port '6882'
	option download_speed '0'
	option upload_speed '0'
	option rpc_auth '0'
	option rpc_user 'admin'
	option rpc_password 'admin'
	option extra_cmd '0'
	option cmd_line ''
